*{
  margin: 0px;
  padding: 0px;
}
.app {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  height: 120vh;
  background-color: white;
  display: flex;
}
.left-div{
  width: 60vw;
  height: 115vh;
  background-color: whitesmoke;
  margin: 20px 5px 20px 20px;
  border-right: 2px solid white;
}
.right-div{
  width: 36vw;
  height: 115vh;
  background-color: whitesmoke;
  margin: 20px 20px 20px 0px;
}

.app-header{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards-item{
  display: flex;
  margin: 20px;
  justify-content: space-evenly;
  cursor: pointer;
}
.cards-item > .card {
  flex: 1;
}
.cards-item > .active-style-red {
  border-top: 10px solid tomato;
}
.cards-item > .active-style-green {
  border-top: 10px solid lightgreen;
}
.cards-item > .card:not(:last-child){
  margin-right: 10px;
}
.card-cases{
  color: black;
  font-weight: bold;
  font-size: large;
}

.table-data{
  margin: 20px;
  height: 50vh;
  overflow: auto;
}
.table thead tr th, .table tbody tr td {
  border: none;
}
tbody > tr:nth-child(even){
  background-color: white;
}
.map-div{
  display: grid;
  place-items: center;
}
.map-container{
  margin-top: 10px;
  width: 56vw;
  height: 65vh;
}
@media (max-width: 990px){
  .app{
    flex-direction: column;
    height: 270vh;
  }
  .right-div{
    width: 95vw;
    height: 150vh;
    background-color: whitesmoke;
    margin: 20px 20px 10px 20px;
  }
  .left-div{
    width: 95vw;
    height: 135vh;
    background-color: whitesmoke;
    margin: 20px 20px 0px 20px;
  }
  .map-container{
    width: 90vw;
    height: 60vh;
  }
}
.popup-style > img{
  width: 80px;
}

